*{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.full{
    width: 700px;
    height: 500px;
    margin:100px 400px 0px 400px;
    border: 1px solid navy;
}
.conform-sms{
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
   
    margin: 0;

}
.main{
    margin-top: 100px;
    width: 40%;
    margin-left: 27.3%;
    padding: 15px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 5px;
   
}
.subash-info{
    display: flex;
    justify-content: space-between;
}
p{  
    margin-top: 60px;
    text-align: center;
}
.boxx{
    display: flex;
    justify-content: space-between;
    
}
.space{
    width: 230px;
    
}
button{
    background-color: rgb(15, 148, 15);
    padding: 6px 18px 6px 18px;
    border-radius: 5px;
    color: white;
    border: none;

}
a{
    text-decoration: none;
    color: white;
}